
/*****************************/
/*      Defalt Styles        */
/*****************************/

body{
	background:#ffffff;
	font-size:16px;
	color:#323232;
}

h1,
h2,
h3,
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}

h5,
h6{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
}

.wrapper{
	overflow:hidden;
}

img {
    max-width: 100%;
}

.circle{
	border-radius:100%;
}

.required {
	color:#d9534f !important;
}

.btn-info {
    background-color: rgba(0,174,239,.8);
    border-color:  rgba(0,174,239,.8);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:focus:hover,
.btn-info.focus:hover,
.btn-info.focus {
    background-color: rgba(0,174,239,1);
    border-color:  rgba(0,174,239,1);
	color:#ffffff;
	box-shadow:none;
}

.btn-add {
    background-color: rgba(86,101,107,.8);
    border-color: rgba(86,101,107,.8);
	color:#ffffff;
}

.btn-add:hover,
.btn-add:focus,
.btn-add:focus:hover,
.btn-add.focus:hover,
.btn-add.focus {
    background-color: rgba(86,101,107,1);
    border-color: rgba(86,101,107,1);
	color:#ffffff;
	box-shadow:none;
}

.width-100 {
	width:100%;
}

.bold{
	font-weight:bold;
}

.color-info {
    color:  rgba(0,174,239,1);
}

.uppercase{
	text-transform:uppercase;
}

.square {
    border-radius:0;
}

.mb-0{
	margin-bottom:0;
}

.mb-20{
	margin-bottom:1.25rem;
}

.mb-10{
	margin-bottom:10px;
}

.mt-20{
	margin-top:1.25rem;
}

.mr-10{
	margin-right:10px;
}

.btn-center{
	display:table;
	margin-left:auto;
	margin-right:auto;
}

.btn-right{
	display:table;
	float:right;
}

.text-align-justify{
	text-align:justify;
}

.text-align-right{
	text-align:right;
}

.center{
	display:table;
	margin:0 auto;
}

blockquote {
	background-color:rgba(0,174,239,.6);
	font-size:2rem;
	padding: 0 .75rem .25rem;
	color:#fff;
}

.w-85px {
    width:85px !important;
}

.form-control.br-r-10 {
    border: 1px solid #009fe3;
    padding: 3px 6px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
    box-shadow: none;
    width: 100px;
}

.form-control.form-control-transparent {
    background: #ffffff;
    border-radius:0 20px 20px 0;
    border-color: #fff;
    color: #151515;
		margin-left: 40px;
}

.form-control.form-control-transparent:focus {
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.form-control.form-control-transparent::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control.form-control-transparent:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control.form-control-transparent::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"],
.checkbox-img input[type="checkbox"],
.radio-img input[type="radio"],
.checkbox-koltuk input[type="checkbox"],
.radio-square input[type="radio"] {
	display:none;
}

.checkbox.checkbox-transparent {
	display:inline-block;
	margin-right:10px;
}

.checkbox.checkbox-transparent input[type="checkbox"] ~ label {
	display:block;
	width:29px;
	height:29px;
	border:1px solid #fff;
	text-align:center;
}

.checkbox.checkbox-transparent input[type="checkbox"] ~ label i {
	color:transparent;
	font-size:24px;
	line-height:26px;
}

.checkbox.checkbox-transparent input[type="checkbox"]:checked ~ label i {
	color:#fff;

}

.radio input[type="radio"] ~ label {
	display:block;
	width:29px;
	height:29px;
	border:1px solid #dcdcdc;
	border-radius:100%;
	position:relative;
}

.radio input[type="radio"] ~ label:before {
	display:block;
	width:17px;
	height:17px;
	border-radius:100%;
	position:absolute;
	background:transparent;
	content:"";
	top:5px;
	left:5px;
}

.radio input[type="radio"]:checked ~ label {
	background:#00aeef;
	border:1px solid #00aeef;

}

.radio input[type="radio"]:checked ~ label:before {
	background:#fff;

}

.col-20{
	width:20%;
	float:left;
}

.padding-l-r-15{
	padding:0 15px;
}

.radio-img input[type="radio"] ~ label,
.checkbox-img input[type="checkbox"] ~ label{
	display:table;
	margin:0 auto 10px;
}

.radio-img input[type="radio"] ~ label .radio-img-block,
.checkbox-img input[type="checkbox"] ~ label .checkbox-img-block{
	border-radius:100%;
	position:relative;
}

.radio-img input[type="radio"] ~ label .radio-img-block .radio-hover,
.checkbox-img input[type="checkbox"] ~ label .checkbox-img-block .radio-hover{
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.radio-img input[type="radio"] ~ label:hover .radio-img-block .radio-hover,
.radio-img input[type="radio"]:checked ~ label .radio-img-block .radio-hover,
.checkbox-img input[type="checkbox"] ~ label:hover .checkbox-img-block .radio-hover,
.checkbox-img input[type="checkbox"]:checked ~ label .checkbox-img-block .radio-hover{
	display:block;
}

.radio-img input[type="radio"] ~ label:hover .radio-img-block,
.radio-img input[type="radio"]:checked ~ label .radio-img-block,
.checkbox-img input[type="checkbox"] ~ label:hover .checkbox-img-block,
.checkbox-img input[type="checkbox"]:checked ~ label .checkbox-img-block{
	border-radius: 100%;
}

.radio-img input[type="radio"] ~ label:hover .radio-img-block > img,
.radio-img input[type="radio"]:checked ~ label .radio-img-block > img,
.checkbox-img input[type="checkbox"] ~ label:hover .checkbox-img-block > img,
.checkbox-img input[type="checkbox"]:checked ~ label .checkbox-img-block > img{
	opacity:0;
}

.checkbox-koltuk input[type="checkbox"] ~ label {
	display:block;
	width:38px;
	height:34px;
	background: url('../img/bos-koltuk-icon.png') no-repeat;
	background-size:cover;
	background-position:center center;
	text-align:center;
	font-size: 10px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	color:#545454;
	cursor: pointer;
}

.checkbox-koltuk input[type="checkbox"] ~ label:hover {
	background: url('../img/secili-koltuk-icon.png') no-repeat;
	background-size:cover;
	background-position:center center;
	color:#fff;
}

.checkbox-koltuk input[type="checkbox"]:checked ~ label {
	background: url('../img/secili-koltuk-icon.png') no-repeat;
	background-size:cover;
	background-position:center center;
	color:#fff;
}

.checkbox-koltuk input[type="checkbox"]:checked:disabled ~ label {
	background: url('../img/rezervasyon-koltuk-icon.png') no-repeat;
	background-size:cover;
	background-position:center center;
	color:#fff;
}

.checkbox-koltuk input[type="checkbox"]:disabled ~ label {
	background: url('../img/dolu-koltuk-icon.png') no-repeat;
	background-size:cover;
	background-position:center center;
	color:#fff;
}

/*
|--------------------------------------------------------------------------
| Switch Tamplate Styles
|--------------------------------------------------------------------------
*/

.onoffswitch input {
    display:none;
}

.onoffswitch input + .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 0.5em;
    width: 2em;
    background: #fa9fbe;
    border-radius: 1em;
    cursor: pointer;
	margin-bottom:0;
	position: relative;
}

.onoffswitch input + .switch span {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #ff3e7f;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    margin-top: -0.25em;
	display: inline-block;
	position: absolute;
}


.onoffswitch input:checked + .switch {
    background: #017aad;
}

.onoffswitch input:checked + .switch span {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background-color: #009fe3;
}

.radio-square {
    list-style: none;
    padding-left: 0;
	display:inline-block;
    width: 100px;
    margin-bottom: 0;
}

.radio-square li{
    float:left;
}

.radio-square li input[type="radio"] ~ label {
	background:#017aad;
	padding: 3px 7px;
	text-transform:uppercase;
	color:#fff;
	font-style:italic;
	font-size:10px;
	margin-bottom:0;
	cursor: pointer;
	line-height: 18px;
}

.radio-square li input[type="radio"]:checked ~ label {
	background:#f41863;
}

.radio-square li:first-child label{
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}

.radio-square li:last-child label{
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
}


/*****************************/
/*         Topbar            */
/*****************************/

.topbar {
    display: none;
    width: 100%;
    border-bottom:1px solid #a0a0a0;
}

.topbar ul {
	padding-left:0;
	margin-bottom:0;
	list-style: none;
	display: inline-block;
}

.topbar ul.topbar-left {
	float:left;
}

.topbar ul.topbar-right {
	float:right;
}

.topbar ul li{
	float:left;
}

.topbar .nav-link {
    padding: .3rem .8rem;
    color: #a0a0a0;
}

.topbar-right .search-menu .dropdown-menu {
    min-width: 19rem;
    margin-left: -12rem;
}

.topbar-right .search-menu .dropdown-menu .btn.btn-transparent {
    border: 1px solid #ced4da;
    background: transparent;
    border-left: none;
    color: #a0a0a0;
}

.topbar-right .search-menu .dropdown-menu:before {
    content: "";
    position: absolute;
    right: 90px;
    top: -8px;
    margin-right: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid rgba(0,0,0,.15);
    border-left: 8px solid transparent;
    border-top: 0;
    border-right: 8px solid transparent;
}

.topbar-right .search-menu .dropdown-menu:after {
    content: "";
    position: absolute;
    right: 90px;
    top: -6px;
    margin-right: -7px;
    width: 0;
    height: 0;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-top: 0;
    border-right: 7px solid transparent;
}

.topbar-right .lang-menu .dropdown-menu {
    min-width: auto;
}

.topbar-right .lang-menu .dropdown-menu:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid rgba(0,0,0,.15);
    border-left: 8px solid transparent;
    border-top: 0;
    border-right: 8px solid transparent;
}

.topbar-right .lang-menu .dropdown-menu:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-top: 0;
    border-right: 7px solid transparent;
}



/*****************************/
/*       Header Menu         */
/*****************************/

header{
    min-height: 105px;
    background: linear-gradient(to bottom, #ef9b33 0%,#ef9b33 40%,#ef9b33 40%,white 40%,white 100%);
}

.mr-auto, .mx-auto {
    margin-top: 50px;
}

.logo{
	background-color: #fff;
	padding: 20px 10px;
	width: 350px;
	-webkit-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.64);
	-moz-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.64);
	box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.64);
}

.logo img {
    display: block;
    margin: auto;
}

.navbar-expand-lg {
    padding: 0;
}

ul.topbar-left li {
	display: inline-block;
}

ul.topbar-left {
  margin-top: -50px;
	margin-left: -430px;
	width: 500px;
}
ul.topbar-left a {
	display: inline-block;

}

li.nav-item.langue a {
    padding: 0;
		color: #ccc;
}

li.nav-item.langue a.active  {
    padding: 0;
		color: #fff;
}

li.nav-item.online-login:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 65px;
    background-color: #fff;
    margin-top: -15px;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
		border-radius: 0px 0px 3px 3px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(38, 110, 179);
    font-weight: bold;
}

.navbar-light .navbar-nav >.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(38, 110, 179);
		font-family: 'Quicksand', sans-serif;
}

.dropdown-item {
	font-family: 'Quicksand', sans-serif;
  color: #266eb3;
	font-size: 12px;
}
.dropdown-item:hover {
    color: #266eb3;
		font-weight: bold;
}

div#navbarSupportedContent {
	font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.menu-bottom {
    width: 700px;
    height: 50px;
    position: absolute;
    margin-top: 6%;
    margin-left: 9%;
}

.navbar-light .navbar-nav.navbar-left .nav-link {
    color: #0055a5;
	text-transform:uppercase;
}

.navbar-light .navbar-nav.navbar-left .active > .nav-link,
.navbar-light .navbar-nav.navbar-left .nav-link.active,
.navbar-light .navbar-nav.navbar-left .nav-link.show,
.navbar-light .navbar-nav.navbar-left .nav-link:hover,
.navbar-light .navbar-nav.navbar-left .show > .nav-link {
    font-weight: bold;
}
.navbar-light .navbar-right .navbar-nav .nav-link {
    font-size:18px;
}

.navbar-light .navbar-right .navbar-nav .btn-outline-secondary {
    text-transform:uppercase;
	font-size:16px;
    margin-left:.8rem;
    margin-right:.8rem;
	border-radius:0;
	font-weight:bold;
	color: #a0a0a0;
	background-color: transparent;
	background-image: none;
	border-color: #a0a0a0;
}

.navbar-light .navbar-right .navbar-nav .btn-outline-secondary.focus,
.navbar-light .navbar-right .navbar-nav .btn-outline-secondary:focus,
.navbar-light .navbar-right .navbar-nav .btn-outline-secondary.focus:hover,
.navbar-light .navbar-right .navbar-nav .btn-outline-secondary:focus:hover,
.navbar-light .navbar-right .navbar-nav .btn-outline-secondary:hover {
	color: rgba(160,160,160,.75);
}

.navbar-light .navbar-right .navbar-nav .btn-outline-secondary.focus,
.navbar-light .navbar-right .navbar-nav .btn-outline-secondary:focus {
    box-shadow: none;
}

.navbar-light .navbar-right .navbar-nav .btn-outline-secondary .fas {
    margin-left: 5px;
}

.navbar-light .navbar-right .navbar-nav .nav-link {
    padding: .3rem .8rem;
	color:#fff;
}

.navbar-light .navbar-right .navbar-nav .nav-item {
    position:relative;
}

.navbar-light .navbar-right .navbar-nav .nav-item:last-child:before {
    display:none;
}
.navbar-light .navbar-right .navbar-nav .nav-item.top-menu {
	color: #fff;
	text-align: center;


}
.navbar-light .navbar-right .navbar-nav .nav-item.top-menu:before {
    content:"";
	width:1px;
	height:50px;
	position:absolute;
	right:0;
	margin-top:-8px;
	background-color:#fff;
}

 .nav-item a.nav-link.setSize {
    font-size: 20px !important;
    color: #fff;
}
.nav-item a.nav-link {
	 font-size: 15px !important;
	 color: #fff;
	 padding: 9px;
}

 .nav-item:hover .fa-facebook-f {
    color:#3b5998;
}

 .nav-item:hover .fa-twitter {
    color:#00aced;
}

.nav-item:hover .fa-whatsapp {
    color:#25d366;
}

.nav-item:hover .fa-instagram {
    color: #c46dd8 !important;
}
#navbarSearch:after {
    display: none;
}

.navbar-nav .search-menu .dropdown-menu{
	min-width:20rem;
	margin-left: -17rem;
}

.navbar-nav .search-menu .dropdown-menu:before{
    content:"";
	position:absolute;
	right:20px;
	top:-8px;
	margin-right:-8px;
	width:0;
	height:0;
	border-bottom:8px solid rgba(0,0,0,.15);
	border-left:8px solid transparent;
	border-top:0;
	border-right:8px solid transparent;
}

.navbar-nav .search-menu .dropdown-menu:after{
    content:"";
	position:absolute;
	right:20px;
	top:-6px;
	margin-right:-7px;
	width:0;
	height:0;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	border-top:0;
	border-right:7px solid transparent;
}

.navbar-nav .search-menu .dropdown-menu .form-control{
	border-right:none;
}

.navbar-nav .search-menu .dropdown-menu .form-control:focus{
    box-shadow:none;
}

.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent {
    border: 1px solid #ced4da;
	background:transparent;
	border-left:none;
	color: #a0a0a0;
}

.navbar-nav .search-menu .dropdown-menu .form-control:focus ~ .input-group-append .btn.btn-transparent{
    border: 1px solid #80bdff;
}

.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent.focus,
.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent:focus,
.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent:focus:hover,
.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent:focus:hover,
.navbar-nav .search-menu .dropdown-menu .btn.btn-transparent:hover {
    box-shadow: none;
	color: rgba(160,160,160,.75);
}

.navbar-nav .lang-menu .dropdown-menu{
	min-width:auto;
}

.navbar-nav .lang-menu .dropdown-menu:before{
    content:"";
	position:absolute;
	left:50%;
	top:-8px;
	margin-left:-8px;
	width:0;
	height:0;
	border-bottom:8px solid rgba(0,0,0,.15);
	border-left:8px solid transparent;
	border-top:0;
	border-right:8px solid transparent;
}

.navbar-nav .lang-menu .dropdown-menu:after{
    content:"";
	position:absolute;
	left:50%;
	top:-6px;
	margin-left:-7px;
	width:0;
	height:0;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	border-top:0;
	border-right:7px solid transparent;
}

/*****************************/
/*           Slider          */
/*****************************/

.slider{
	background-color:#eee;
	position:relative;
	overflow:hidden;
	max-height: 520px;
	min-height: 150px;
}

.slider .slider-icon{
	background: rgba(0,174,239,.8);
    display: inline-block;
    padding:35px 15px 20px;
    text-align: center;
	text-decoration:none;
	width: 100%;
}

.slider .slider-icon:hover{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,174,239,0.75);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,174,239,0.75);
	box-shadow: 0px 0px 5px 3px rgba(0,174,239,0.75);
}

.slider .slider-icon h3{
	color:#fff;
}

.slider h1,
.slider h2,
.slider p{
	text-transform:uppercase;
	text-align:center;
}

.slider h1{
	font-size:3rem;
	margin-top:200px;
}

.slider h2{
	color:#cf2f22;
	font-size:3.5rem;
}

.slider-text {
	position: absolute;
	margin-top: -430px;
	margin-left: 320px;
	color: white;
	font-family: 'Quicksand', sans-serif;

}

.slider-head {
		font-size: 45px;
}
.slider-head span {
		font-weight: bold;
}

.slider-content  {
		width: 340px;
}

.slider .carousel-indicators .active {
    background-color: #f39723;
}

.slider .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50px !important;
    text-indent: -999px;
    background-color: #fff;
}

.slider .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-left: 50%;
    list-style: none;
}

.slider-wrap {

	margin-top: 25px;
	padding: 0 41px;

}

 .slider-caption {
background-color: #fff;
padding: 25px 0;
position: relative;
text-align: center;
transition: all .35s;
}


 .slider-caption:before {
	border-bottom: 14px solid #ffd526;
	transition: all .35s;
}



.slider-caption p{
margin-bottom: 0;
}

 .caption-title {
    color: #9c9c9c;
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
    margin-top: -15px;
}

 .caption-text {
    text-align: left;
    margin-left: 10px;
		font-size: 12px;
    font-weight: 800;
}

.caption-margin{
	margin-bottom: 20px;
}
.slider-wrap .fa-icon {
	width: 56px;
	height: 56px;
	font-size: 42px;
	line-height: 56px;
	text-align: center;
	color: rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all .35s;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	z-index: 100;
}


.slider-wrap .fa-icon:hover {
	transition: all .35s;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
}


.slider-wrap .fa-angle-left {
left: 0;
color: #5959dc33 !important;
}

.slider-wrap .fa-angle-left:hover {
color: #5959dc !important;
}

.slider-wrap .fa-angle-right {
right: 0;
color: #5959dc33 !important;
}
.slider-wrap .fa-angle-right:hover {
	color: #5959dc !important;
}

/*****************************/
/*          Haberler news          */
/*****************************/

.news{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
}


.news h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

 .news-hover {
	display: none;
	width: 89.5%;
	height: 100%;
	position: absolute;
	background-color: #ffbf00aa;
	z-index: 100;

}

.img-set-hover:hover .news-hover {
		display: block;
}

a.form-control.btn.btn-light.view-btn {
	background-color: transparent !important;
	border-radius: 0px !important;
	border: 2px solid #eee;
	margin: 100px 0px 0px 35px;
	position: absolute;
	width: 70% !important;
	color: #fff;
	font-weight: 700;
	z-index: 101;
}

.event-tab-one {
    padding-bottom: 50px;
}

.carousel-control-next.next-icon {
    right: -150px;
}

span.rigt-icon {
    color: #364ea2;
    font-size: 50px;
}

.carousel-control-prev.prev-icon {
    left: -150px;
}
span.left-icon {
    color: #364ea2;
    font-size: 50px;
}

/* flip 3d transform */
.flip-container {
	perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 225px;
	height: 120px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane 3d transform */
.back {
	transform: rotateY(180deg);
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
	transform-origin: 100% 213.5px; /* half of height */
}

.vertical.flip-container:hover .flipper {
	transform: rotateX(-180deg);
}

.tgb-firma {
	background-color: #f39823;
	color: white;
}
.tgb-firma p {
    text-align: center;
    font-size: 25px;
    margin: 20px auto auto auto;
}

.kulucka-firma {
	background-color: #e05d6f;
	color: white;
}
.kulucka-firma p {
    text-align: center;
    font-size: 25px;
    margin: 20px auto auto auto;
}

.toplam-proje {
	background-color: #3a7eb6;
	color: white;
}
.toplam-proje p {
    text-align: center;
    font-size: 25px;
    margin: 20px auto auto auto;
}

.devam-proje {
	background-color: #15a085;
	color: white;
}
.devam-proje p {
		text-align: center;
		font-size: 25px;
		margin: 20px auto auto auto;
}

.tamamlanan-proje {
	background-color: #3f4d62;
	color: white;
}
.tamamlanan-proje p {
		text-align: center;
		font-size: 25px;
		margin: 20px auto auto auto;
}



	.col-yd{
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}

/*****************************/
/* Sektörel Dağılım sectoral */
/*****************************/

.sectoral{

	background: url('../img/sektorel-bg.png') no-repeat right;
	padding:5rem 0 6.5rem;
	position:relative;
	border-bottom: 3px solid #306090;
}

.sectoral h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.circle-text {
	margin-top: 150px;
}

.long-text  {
	font-size:16px;
	text-align:center;
	margin-left: -25px;
}

/*****************************/
/* Etkinlikler Events*/
/*****************************/

.events{
	background: url('../img/etkinlikler-bg.png') no-repeat;
	background-color: #fff;
	padding:5rem 0 6.5rem;
	position:relative;
}

.events h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.event-tab hr {
    color: #101010;
    border: 1px solid;
    /* size: 10px; */
}

.event-tab h1 {
	font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #256eb3;
    font-weight: 400;
}

.event-tab h2 {
	font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #256eb3;
    font-weight: 400;
		margin-bottom:  20px;
}

.event-tab-four {
    padding: 0;
}

/*****************************/
/*           Mevzuat          */
/*****************************/
.mevzuat-head{
	background:url("../img/mevzuat-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.mevzuat-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
}


.mevzuat-content h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.mevzuat-content a{
	color:#266db3;
	transition: all 0.30s;
}

.border-blue{
	border: 1px solid #2d96d4;
}

.border-yellow{
	border: 1px solid #eeb300;
}

.border-red{
	border: 1px solid #a91100;
}

.border-green{
	border: 1px solid #129e83;
}

.border-aqua{
	border: 1px solid #42e1ff;
}

.border-pink{
	border: 1px solid #e16073;
}


.mevzuat-content .mevzuat-duyuru {
    background-color: white !important;
		background: url("../img/mevzuat-icon.png") no-repeat 100%;
    padding: 28px 15px 12px 15px;
		margin-bottom: 20px;
		transition: all 0.30s;

}

.mevzuat-content .mevzuat-duyuru:hover {
		background: url("../img/mevzuat-icon-hover.png") no-repeat 100%;
		transition: all 0.30s;
		text-decoration: none;
		font-weight: bold;
		color: #2076c2;
		background-size: contain;

}

.mevzuat-content .mevzuat-duyuru p {
width: 680px;
}



.mevzuat-content a{
	text-decoration: none;
	transition: all 0.30s;
	font-weight: lighter;
	color: #2076c2;
}

.mevzuat-content a:hover{
	text-decoration: none;

}



/*****************************/
/*           Duyurular          */
/*****************************/

.duyurular-head{
	background:url("../img/mevzuat-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.duyurular-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
}


.duyurular-content h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.duyurular-content a{
	color:#266db3;
	transition: all 0.30s;
	text-decoration: none;
}

.duyurular-content .duyurular-duyuru {
    background-color: white;
    padding: 28px 15px 12px 15px;
		margin-bottom: 20px;
		transition: all 0.30s;

}

.duyurular-content .duyurular-duyuru:hover {
		background-color: #2076c2;
		transition: all 0.30s;
		text-decoration: none;
		font-weight: bold;
		color: #fff;
		background-size: contain;

}
.duyurular-content .border-red:hover {
	background-color: #a91100;
}

.duyurular-content .border-green:hover {
	background-color: #129e83;
}

.duyurular-content .border-yellow:hover {
	background-color: #eeb300;
}

.duyurular-content .border-aqua:hover {
	background-color: #42e1ff;
}

.duyurular-content .border-pink:hover {
	background-color: #e16073;
}


.duyurular-content a{
	text-decoration: none;
	transition: all 0.30s;
	font-weight: lighter;
	color: #2076c2;
}

.duyurular-content a:hover{
	text-decoration: none;

}

/*****************************/
/*           Destekler          */
/*****************************/
.destekler-head{
	background:url("../img/destekler-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.destekler-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
}

.destekler-detay-content{
	background-color: #eee;
	position:relative;

}

.front .front-head {
	font-weight: bold;
	color: white;
	font-size: 30px;
	margin: 20px auto auto auto;
}
.front .front-content {
	color: white;
	font-size: 16px;
	margin: 10px auto auto auto;
	max-width: 190px;
}
.col-lg-4.destekler-row {
	margin-left: 0px;
	margin-bottom: 80px;
}
.front-pink-bg {
	text-align: center;
	background-color: #e16073;
	color: white;
	height: 180px;
}

.front-white-bg {
	text-align: center;
	background-color: #fff;
	color: white;
	height: 180px;
}

.front-green-bg {
	text-align: center;
	background-color: #0d9c7f;
	color: white;
	height: 180px;
}

.front-brown-bg {
	text-align: center;
	background-color: #ecad00;
	color: white;
	height: 180px;
}

.front-aqua-bg {
	text-align: center;
	background-color: #1fdbff;
	color: white;
	height: 180px;
}

.front-red-bg {
	text-align: center;
	background-color: #9f0000;
	color: white;
	height: 180px;
}

.front-blue-bg {
	text-align: center;
	background-color: #3a7db6;
	color: white;
	height: 180px;
}

.front-grey-bg {
	text-align: center;
	background-color: #3e4c62;
	color: white;
	height: 180px;
}

.front-orange-bg {
	text-align: center;
	background-color: #ea5b0c;
	color: white;
	height: 180px;
}


.front-hotpink-bg {
	text-align: center;
	background-color: #e6007e;
	color: white;
	height: 180px;
}

.front-greensea-bg {
	text-align: center;
	background-color: #3aaa35;
	color: white;
	height: 180px;
}

.front-hotblue-bg {
	text-align: center;
	background-color: #2a7ec4;
	color: white;
	height: 180px;
}

.page-static-text {
    position: absolute;
    margin-left: 320px;
    color: white;
    font-family: 'Quicksand', sans-serif;
		font-size: 14px;
}

.back p a {
    margin-top: 65px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 0px;
    width: 80%;
}


.back.front-white-bg p a:hover {
    background-color: transparent !important;
		border: 1px solid #3a7db6 !important;
		color: #3a7db6 !important;
}
.back p a:hover {
    background-color: white;
		color: #276cb3 !important;
}


.destekler-detay-text{
	background-color: white;
	padding: 10px 0 100px 0px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #2a7ec4;
}

.destekler-detay-text span{
	color: #276cb3;
}

.destekler-detay-text a{
	font-size: 16px;
}

.destekler-detay-text .destekler-detay-content-text {
    font-size: 14px;
    padding: 20px 30px 20px 50px;
    letter-spacing: 0px;
    font-weight: 200;
		text-align: left;
}

/*****************************/
/*           Sosyal İmkan    */
/*****************************/
.sosyal-imkan-head{
	background:url("../img/sosyal-imkan-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.sosyal-imkan-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.sosyal-imkan-text p.card-text {
    text-align: center;
		font-size: 14px;
		color: white;
}

.sosyal-imkan-text .card {
    margin-bottom: 20px;

}


/*****************************/
/*           Ekosistem    */
/*****************************/
.ekosistem-head{
	background:url("../img/ekosistem-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.ekosistem-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.sheild-content {
		font-size: 14px;
    text-align: left;
    margin-top: 50px;
    color: #406096;
}

.eko-hand {
		position: absolute;
    margin-top: 30px;
    z-index: 80;
    right: 0;
    width: 500px
}

/*****************************/
/*           Ekip    */
/*****************************/
.ekip-head{
	background:url("../img/ekip-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.ekip-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.ekip-text .card-images {
    width: 100%;
    height: 65%;
    background-color: #716d6daa;
    position: absolute;
    z-index: 10000;
		transition: all .30s;
		display: block;
		border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.ekip-text .card:hover .card-images {
	display: none;
	transition: all .30s;
}

.ekip-text .card:hover .card-body span {
	color: #276cb3;
	transition: all .30s;
}

.ekip-text .card .card-body span {
	font-weight:bolder;
	font-size:16px;
}

.ekip-text .card {
	margin-bottom: 10px;

}

.ekip-text a {
	color: #000;
}
.ekip-text a:hover {
	color: none;
	text-decoration: none;
}



.ekip-text .card-text{
	font-size: 10px;
	text-align: center;
}

.ekip-text  hr {
	border: 2px solid #276cb3 !important;
  width: 20px !important;
	margin-top: -12px;
	margin-bottom: 3px;
}

.ekip-text .card-body{
	text-align: center;
}

/*****************************/
/*           Haberler    */
/*****************************/
.haberler-head{
	background:url("../img/haberler-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.haberler-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.haberler-text .card-images {
    width: 100%;
    height: 100%;
    background-color: #ea9e3baa;
    position: absolute;
    z-index: 10000;
		transition: all .30s;
		display: block;
		border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
		display: none;
}

.haberler-text .card:hover .card-images {
	display: block;
	transition: all .30s;
}

.haberler-text .card:hover .card-body span {
	color: #276cb3;
	transition: all .30s;
}

.haberler-text .card .card-body span {
	font-weight:bolder;
	font-size:16px;
}

.haberler-text .card {
	margin-bottom: 10px;

}

.haberler-text a {
	color: #fff;
	margin-top: 100px;
	width: 80%;
	border: 1px solid #fff;
	background-color: transparent;
}
.haberler-text a:hover {
	color: none;
	text-decoration: none;
}

.haberler-text p.card-head {
    margin-top: -10px;
    font-size: 10px;
    margin-bottom: 0px;
    color: grey;
}


.haberler-text .card-text{
	font-size: 10px;
	text-align: left;
}

.haberler-text .card-body{
	text-align: left;
}

/*****************************/
/*           Haberler-detay    */
/*****************************/
.haberler-detay-head{
	background:url("../img/haberler-detay-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 720px;
	min-height: 520px;
}

.haberler-detay-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.haberler-detay-content p.haber-basligi {
    font-size: 22px;
    margin-top: 40px;
    /* font-weight: 300; */
}

.haberler-detay-content .haberler-text hr{
    border: 2px solid #6b8093;
    width: 45%;
		margin-left: 0;
    /* font-weight: 300; */
}

.haberler-detay-content .haberler-text{
		text-align: left !important;
    /* font-weight: 300; */
}

/*****************************/
/*           Duyurular    */
/*****************************/
.duyurular-detay-head{
	background:url("../img/duyurular-detay-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 720px;
	min-height: 520px;
}

.duyurular-detay-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.duyurular-detay-content p.haber-basligi {
    font-size: 22px;
    margin-top: 40px;
    /* font-weight: 300; */
}

.duyurular-detay-content .haberler-text hr{
    border: 2px solid #6b8093;
    width: 45%;
		margin-left: 0;
    /* font-weight: 300; */
}

.duyurular-detay-content .haberler-text{
		text-align: left !important;
    /* font-weight: 300; */
}

.duyurular-detay-content .duyurular-duyuru {
    background-color: white;
    padding: 28px 15px 12px 15px;
		margin-bottom: 20px;
		transition: all 0.30s;

}

.duyurular-detay-content .duyurular-duyuru:hover {
		background-color: #2076c2;
		transition: all 0.30s;
		text-decoration: none;
		font-weight: bold;
		color: #fff;
		background-size: contain;

}
.duyurular-detay-content .border-red:hover {
	background-color: #a91100;
}

.duyurular-detay-content .border-green:hover {
	background-color: #129e83;
}

.duyurular-detay-content .border-yellow:hover {
	background-color: #eeb300;
}

.duyurular-detay-content .border-aqua:hover {
	background-color: #42e1ff;
}

.duyurular-detay-content .border-pink:hover {
	background-color: #e16073;
}


.duyurular-detay-content a{
	text-decoration: none;
	transition: all 0.30s;
	font-weight: lighter;
	color: #2076c2;
}

.duyurular-detay-content a:hover{
	text-decoration: none;

}

/*****************************/
/*           Hakkimizda    */
/*****************************/
.hakkimizda-head{
	background:url("../img/hakkimizda-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 720px;
	min-height: 520px;
	padding-top: 100px;
}

.hakkimizda-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.hakkimizda-content-two{
	background-color: #fff;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
	color:#316099;
	text-align: center;
	margin-top: 20px;
}

.hakkimizda-content-two h3{
 letter-spacing: 5px;
}

.hakkimizda-content-two hr{
 border: 1px solid #000;
 width: 80%;
}
.hakkimizda-content p.haber-basligi {
    font-size: 22px;
    margin-top: 40px;
    /* font-weight: 300; */
}

.hakkimizda-content .hakkimizda-text hr{
    border: 2px solid #6b8093;
    width: 45%;
		margin-left: 0;
    /* font-weight: 300; */
}

.hakkimizda-content .hakkimizda-text {
	margin-top: 50px;
	color:#316099;
}
/*****************************/
/*           İletişim    */
/*****************************/
.iletisim-head{
	background:url("../img/iletisim-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 250px;

}

.iletisim-content{
	background-color: #fff;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
	text-align: center;

}

.iletisim-content img{
	display: block;
}

.iletisim-content a{
	color: #000;
}

/*****************************/
/*           sorular          */
/*****************************/

.sorular-head{
	background:url("../img/sorular-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.sorular-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;
}


.sorular-content h4{
	text-align:center;
	color:#fff;
	font-weight:bold;
}

.sorular-content a{
	color:#266db3;
	transition: all 0.30s;
	text-decoration: none;
}

.sorular-content .sorular-duyuru {
    background-color: white;
    padding: 28px 15px 12px 15px;
		margin-bottom: 20px;
		transition: all 0.30s;

}

.sorular-content .sorular-duyuru:hover {
		background-color: #2076c2;
		transition: all 0.30s;
		text-decoration: none;
		font-weight: bold;
		color: #fff;
		background-size: contain;

}
.sorular-content .border-blue:hover{
	background-color: #2d96d4;
}
.sorular-content .border-red:hover {
	background-color: #a91100;
}

.sorular-content .border-green:hover {
	background-color: #129e83;
}

.sorular-content .border-yellow:hover {
	background-color: #eeb300;
}

.sorular-content .border-aqua:hover {
	background-color: #42e1ff;
}

.sorular-content .border-pink:hover {
	background-color: #e16073;
}

.sorular-content .active.border-red {
	background-color: #a91100;
}

.sorular-content .active.border-green{
	background-color: #129e83;
}

.sorular-content .active.border-yellow {
	background-color: #eeb300;
}

.sorular-content .active.border-aqua {
	background-color: #42e1ff;
}

.sorular-content .active.border-pink {
	background-color: #e16073;
}
.sorular-content .active.border-blue{
	background-color: #2d96d4;
}


.sorular-content a{
	text-decoration: none;
	transition: all 0.30s;
	font-weight: lighter;
	color: #2076c2;
}

.sorular-content a:hover{
	text-decoration: none;
}

/* Collapse Css Başlangıç*/
.sorular-content .card-header h5 button {
    color: #2076c2;
		width: 100%;
		text-align: left;
		position: relative;
}
.sorular-content .card-header h5 button:focus {
    text-decoration: none;
}

.sorular-content .collapse.show < .card-header {
		border-bottom: 0px;
}

.sorular-content .card-header {
		border-radius: 0px !important;
    padding: 20px 15px 12px 15px;
    background-color: #fff;
}

.sorular-content .card-header.active {
		border-bottom:0px;
		color: #fff;
}

.sorular-content .card-header.active h5 button {
		color: #fff;
}

.sorular-content .collapse.show .card-body {
		border-radius: 0px !important;
		border-top: 0px;
    padding: 20px 15px 12px 15px;
}
.sorular-content .collapse.show .card-body:hover {
		color:#fff;
		transition: all 0.30s;
}

.sorular-content .card-header:hover h5 button {
	text-decoration: none;
	color: #fff;
}

.sorular-content .card {
    margin-bottom: 20px;

}

.sorular-content .card-header:hover h5 button .fa-angle-up {
	color: #fff;
	transform: rotate(180deg);
	transition: all .30s;
}
.sorular-content .card-header button .fa-angle-up {
    transform: rotate(0deg);
    transition: all .30s;
}
.sorular-content .card-header.active button .fa-angle-up {
    transform: rotate(180deg);
    transition: all .30s;
		color: #fff;
}
.sorular-content .rightIcon {
    font-size: 38px;
    position: absolute;
    right: 25px;
		margin-top: -10px;
    /* margin-left: 580px; */
		color: #2076c2;

}
/* Collapse Css Bitiş*/

/*****************************/
/*           Firma-detay    */
/*****************************/
.firma-detay-head{
	background:url("../img/firma-detay-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 720px;
	min-height: 520px;
}

.firma-detay-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.firma-detay-content a{
	color: #000;

}

.firma-detay-content p.haber-basligi {
    font-size: 22px;
    margin-top: 40px;
    /* font-weight: 300; */
}

.firma-detay-content .firma-detay-text hr{
    border: 2px solid #6b8093;
    width: 45%;
		margin-left: 0;
    /* font-weight: 300; */
}

.firma-detay-content .firma-detay-text{
		text-align: left !important;
    /* font-weight: 300; */
}

.firma-logo {
    background-color: #ea9e3b33;
    width: 250px;
    height: 230px;
		margin-top: -150px;
		margin-left: 150px;
		padding-top: 30px;
}

.firma-logo-inner {
    background-color: #fff;
    width: 220px;
    height: 170px;
		display: block;
		margin: auto;
		padding-top: 30px;
		-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75)

}

.firma-logo-inner img {

	display: block;
	margin: auto;

}

/*****************************/
/*           Firmalar    */
/*****************************/
.firma-head{
	background:url("../img/firmalar-bg.png") no-repeat;
	background-color: #eee;
	position:relative;
	background-size: cover;
	overflow:hidden;
	max-height: 520px;
	min-height: 220px;
}

.firma-content{
	background-color: #eee;
	position:relative;
	padding-bottom: 80px;
	padding-top: 20px;

}

.firma-text .card-images {
    width: 100%;
    height: 65%;
    background-color: #716d6daa;
    position: absolute;
    z-index: 10000;
		transition: all .30s;
		display: block;
		border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.firma-text .card:hover .card-images {
	display: none;
	transition: all .30s;
}

.firma-text .card:hover .card-body span {
	color: #276cb3;
	transition: all .30s;
}

.firma-text .card .card-body span {
	font-weight:bolder;
	font-size:16px;
}

.firma-text .card {
	margin-bottom: 35px;
	height: 250px;
	border-radius: 0px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(148,148,148,1);
	-moz-box-shadow: 10px 10px 5px -8px rgba(148,148,148,1);
	box-shadow: 10px 10px 5px -8px rgba(148,148,148,1);
	transition: all .40s !important;
}

.firma-text .card:hover  {
	transition: all .40s !important;
	-webkit-box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);
	-moz-box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);
	box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);

}

.firma-text .card.show-firm  {
	transition: all .40s !important;
	-webkit-box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);
	-moz-box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);
	box-shadow: -12px 13px 5px -8px rgba(148,148,148,1);

}
.firma-text .passive-firm .disabled{
    background-color: #00000077;
		width: 100%;
		height:100%;
		position: absolute;
}

.firma-text .passive-firm .disabled:hover{
    background-color: transparent;
}


.firma-text a {
	color: #000;
}
.firma-text a:hover {
	color: none;
	text-decoration: none;
}

.card-head-test {
    z-index: -10;
    background-color: #2076c2;
    color: white;
    width: 120px;
		transition: all .40s !important;
		letter-spacing: 5px;
		font-weight: 300;
}

.firma-text .card:hover .card-head-test {
	transition: all .40s !important;
	display: block;
	margin-top: 20px;
	color: #fff;
	z-index: 10;
	margin-top: -20px;

}

.firma-text .card.show-firm .card-head-test {
	transition: all .40s !important;
	display: block;
	margin-top: 20px;
	color: #fff;
	z-index: 10;
	margin-top: -20px;

}

.firma-text .card-text{
	transition: all .40s !important;
		font-size: 10px;
		text-align: left;
		margin-top: 120px;
    margin-left: 0px;
		color: transparent;


}

.firma-text .card:hover .card-text {
	transition: all .40s !important;
	display: block;
	margin-top: 15px;
	color: black;

}

.firma-text .card.show-firm .card-text {
	transition: all .40s !important;
	display: block;
	margin-top: 15px;
	color: black;

}

.firma-text .card.show-firm .card-img-top {
	transition: all .40s !important;
	width: 55%;
	margin-top: 40px;
	max-height: 70px;

}

.firma-text .card:hover .card-img-top {
	transition: all .40s !important;
	width: 55%;
	margin-top: 40px;
	max-height: 70px;

}

.firma-text .card-img-top {
		transition: all .40s !important;
    width: 85%;
    margin-top: 50px;
		max-height: 120px;
}

.firma-text  hr {
	border: 2px solid #276cb3 !important;
  width: 20px !important;
	margin-top: -12px;
	margin-bottom: 3px;
}

.firma-text .card-body{
	text-align: center;
	 overflow: hidden;
}

.right-bg {
	position: absolute;
	right: 0px;
	width: 400px;
}

.left-bg {
	position: absolute;
	left: 0px;
	width: 300px;
}

.page-static-text-head {
    font-size: 40px;
}

.page-static-text-head span {
    font-weight: bold;
}

.page-static-text-content {
    width: 340px;
}


/*****************************/
/*           Footer          */
/*****************************/

footer{
	background:url('../img/footer.png') no-repeat;
	background-color: #353839;
	background-size:cover;
	background-position:center top;
	padding:65px 0 35px;
	position:relative;
}

.footer-tab{
	font-family: 'Quicksand', sans-serif;
padding-top: 35px;
padding-left: 50px;
text-align: left;
color: white;
}
.footer-tab a{
color: #fff;
text-decoration: none;
}

img.contact-icon {
    background: white;
    padding: 11px 6px 11px 17px;
    border-radius: 20px 0 0 20px;
    position: absolute;
}
.form-control.form-control-transparent::placeholder {
    color: #aaa;
}

ul.footer-list li {
    margin-bottom: 10px;
}

ul.footer-list li::before {
		content: "";
    position: absolute;
    width: .4rem;
    height: .4rem;
    background-color: #ff9d00;
		left: 3.2rem;
		margin-top: .40rem;
    transform: rotate(45deg);

}

ul.footer-list {
    list-style: none;
    color: white;
    font-size: 12px;
}

ul.footer-list-two {
    list-style: none;
    color: white;
    font-size: 12px;
		padding-left: 0px;
}

ul.footer-list-two li {
    margin-bottom: 10px;
}

.footer-list-two a{
color: #fff;
text-decoration: none;
}




/*****************************/
/*       Footer Widgets      */
/*****************************/

footer .footer-bar .navbar-brand{
	margin:1rem 0;
}

footer .footer-bar .widget{
	margin-bottom:20px;
	font-size: 13px !important;
	color: #fff;
}

footer .footer-bar .widget-about ul{
	list-style:none;
}

footer .footer-bar .widget-about ul li{
	padding:3px 0;
}

footer .footer-bar .widget-about ul li a{
	color:#fff;
	text-decoration:none;
}

footer .footer-bar .widget-about ul li a:hover{
	text-decoration:underline;
}

footer .footer-bar .widget-seferler h4{
	color:#fff;
	border-bottom:2px solid #fff;
	display:inline-block;
}

footer .footer-bar .widget-seferler ul{
	list-style:none;
	padding-left:0;
}

footer .footer-bar .widget-seferler ul li{
	padding:3px 0;
}


footer .footer-bar .widget-seferler ul li a{
	color:#fff;
	text-decoration:none;
}

footer .footer-bar .widget-seferler ul li a:hover{
	text-decoration:underline;
}

footer .footer-bar .widget-duyuru h4{
	color:#fff;
}

footer .footer-bar .widget-duyuru form{
	width:100%;
}

footer .footer-bar .widget-duyuru form .btn.btn-yellow{
	border: 1px solid #ff9d00;
	border-left: none;
	background: #ff9d00;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 30px;
	font-size: 14px;
}

footer .footer-bar .widget-duyuru .checkbox.checkbox-transparent{
	float:left;
}

footer .footer-bar .widget-duyuru .checkbox.checkbox-transparent ~ p{
	color:#fff;
	font-size:.75rem;
}

footer .footer-bar .widget-duyuru .footer-social{
	list-style:none;
	padding-left:0;
}

footer .footer-bar .widget-duyuru .footer-social li{
	padding:3px 12px;
	float:left;
}

footer .footer-bar .widget-duyuru .footer-social li:first-child{
	padding-left:0;
}

footer .footer-bar .widget-duyuru .footer-social li a{
	color:rgba(255,255,255,.8);
	font-size:20px;
}

footer .footer-bar .widget-duyuru .footer-social li a:hover{
	color:rgba(255,255,255,1);
}

/********************************/
/* Vindicate Validate css style */
/********************************/

.form-group.has-success .control-label {
	color: #5cb85c;
}

.form-group .input-group {
	position:relative;
}

.form-group .input-group:before {
	content: "";
    font-size: 16px;
    position: absolute;
    right: 0;
    font-family: Font Awesome\ 5 Free;
    top: 0;
    font-weight: 900;
    line-height: 38px;
}

.form-group.has-success .form-control-success {
	position:relative;
	border-color: #5cb85c;
}

.form-group.has-success .input-group:before {
	content: "\f00c";
	color:#5cb85c;
}

.form-group.has-warning .control-label {
	color: #f0ad4e;
}

.form-group.has-warning .form-control-warning {
	position:relative;
	border-color: #f0ad4e;
}

.form-group.has-warning .input-group:before {
	content: "\f12a";
	color:#f0ad4e;
}

.form-group.has-danger .control-label {
	color: #d9534f;
}

.form-group.has-danger .form-control-danger {
	position:relative;
	border-color: #d9534f;
}

.form-group.has-danger .input-group:before {
	content: "\f00d";
	color:#d9534f;
}

@media (max-width: 1900px) {
	.news-hover {
	    width: 91.5%;
	}

}

@media (max-width: 1500px) {
	.news-hover {
	    width: 89.5%;
	}

}
@media (max-width: 1200px) {
	.navbar-light .navbar-nav.navbar-left .nav-link {
    font-size: 13px;
}

.navbar-light .navbar-right .navbar-nav .nav-link {
    font-size: 16px;
}

.navbar-light .navbar-right .navbar-nav .btn-outline-secondary {
    font-size: 16px;
}

.kalkis-varis h4{
    font-size: 1.1rem;
}

.tabs-wrap .client-info li:last-child {
    height: 100%;
    display: table;
}

.tabs-wrap .client-info li:last-child a {
    vertical-align: middle;
    display: table-cell;
}

.navbar-light .navbar-right .navbar-nav .nav-item:before {
    content: "";
    background-color: #fff;
}

.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
}
.sectoral .col-yd {
	margin-bottom: 10px;
}

.sectoral .col-md-2 {
	margin-bottom: 20px;
}
.slider-caption {
  margin-top: -50px;
}
.news-hover {
    width: 85%;
}

a.form-control.btn.btn-light.view-btn {
    margin: 50px 0px 0px 20px;
}

ul.topbar-left {
    margin-left: -430px;
}

.slider-text {
	margin-top: -330px;
	margin-left: 240px;
	font-size: 14px;
}

.slider-head {
		font-size: 35px;
}

.slider-content  {
		width: 340px;
}

.page-static-text {
    margin-left: 220px;
		font-size: 12px;
}

.page-static-text-head {
    font-size: 30px;
}

.mevzuat-content .mevzuat-duyuru p {
width: 480px;
}

.sorular-content .rightIcon {
display: none;

}

.sorular-content .card-header h5 button {
    font-size: 11px;
}

.logo {
    padding: 50px 10px;
    width: 270px !important;

}

}

@media (max-width: 992px) {


.navbar-light  .navbar-right {
    display: none;
}

.topbar {
    display: inline-block;
}
.col-yd{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.circle-text {
	font-size: 12px;
}

.slider-caption {
  margin-top: -50px;
}

.news-hover {
    width: 86.5%;
}

a.form-control.btn.btn-light.view-btn {
    margin: 50px 0px 0px 20px;
}

ul.topbar-left {
	margin-top: 0px;
	float: left;
	margin-left: -50px;
}

.nav-item .fa-facebook-f {
	 color:#3b5998;
}

.nav-item .fa-twitter {
	 color:#00aced;
}

.nav-item .fa-whatsapp {
	 color:#25d366;
}

.nav-item .fa-instagram {
	 color: #c46dd8 !important;
}

.nav-item a.nav-link {
	 color: #276db3;;
}

.mr-auto, .mx-auto {
    margin-top: 30px;
}

li.nav-item.langue a.active  {
		color: #276db3;;
}

.slider-text {
	margin-top: -230px;
	margin-left: 160px;
	font-size: 10px;
}

.slider-head {
		font-size: 30px;
}

.slider-content  {
		width: 340px;
}

.long-text {

	margin-left: 10px;
}

.set-elektrik-posstion {
	margin-left:35px !important;
}

.set-makine-posstion {
	margin-left:25px !important;
}

.set-deniz-posstion {
	margin-left:25px !important;
}

.set-insaat-posstion {
	margin-left:25px !important;
}

.set-savunma-posstion {
	margin-left:25px !important;
}

.page-static-text {
    margin-left: 220px;
		font-size: 10px;
}

.page-static-text-head {
    font-size: 25px;
}

.mevzuat-head{
	min-height: 150px;
}

.mevzuat-content .mevzuat-duyuru p {
width: 380px;
font-size: 14px;
}

.destekler-head{
	min-height: 150px;
}

.destekler-align{
	margin-left: 0px;
}

.sosyal-imkan-head {
	min-height: 150px;
}

.ekosistem-head{
	min-height: 150px;
}

.ekip-head{
	min-height: 150px;
}

.haberler-head{
	min-height: 150px;
}

.haberler-detay-head{
	min-height: 400px;
}

.duyurular-head{
	min-height: 150px;
}

.hakkimizda-head{
	min-height: 400px;
}

.hakkimizda-head{
	padding-top: 80px;
}

.sorular-content .card-header h5 button {
    font-size: 8px;
}

.sorular-head{
	min-height: 150px;
}

.firma-logo {
     margin-left: 0px;
}

.firma-head{
	min-height: 150px;
}

.logo {
    padding: 20px 10px;
    width: 250px !important;

}

}

@media (max-width: 768px) {
.slider h1 {
    font-size: 3rem;
    margin-top: 50px;
}
.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
}
.sectoral .col-md-2 {
	margin-left: 200px;
}
.circle-text {
	font-size: 20px;
}
.slider-caption {
  margin-top: 0px;
}

.news-hover {
    width: 89.5%;
}

a.form-control.btn.btn-light.view-btn {
    margin: 100px 0px 0px 35px;
}

.event-tab-two .col-md-4 {
	margin-left: 100px;
}

.slider-text {
	margin-top: -170px;
	margin-left: 85px;
	font-size: 10px;
}

.slider-head {
		font-size: 20px;
}

.slider-content  {
		width: 340px;
}

.long-text {
	margin-left: -172px;
}

.set-elektrik-posstion {
	margin-left:-15px !important;
}

.set-makine-posstion {
	margin-left:-115px !important;
}

.set-deniz-posstion {
	margin-left:10px !important;
}

.set-insaat-posstion {
	margin-left:-10px !important;
}

.set-savunma-posstion {
	margin-left:-20px !important;
}

.page-static-text {
    margin-left: 150px;
		font-size: 9px;
}

.page-static-text-head {
    font-size: 20px;
}

.mevzuat-head{
	min-height: 120px;
}

.mevzuat-content .mevzuat-duyuru p {
width: 480px;
font-size: 16px;
}

.destekler-head{
	min-height: 120px;
}

.destekler-align{
	margin-left: 0px;
}


.sosyal-imkan-head {
	min-height: 120px;
}



.ekosistem-head{
	min-height: 120px;
}

.ekip-head{
	min-height: 120px;
}

.haberler-head{
	min-height: 120px;
}

.haberler-detay-head{
	min-height: 250px;
}

.duyurular-head{
	min-height: 120px;
}

.hakkimizda-head{
	min-height: 250px;
}

.hakkimizda-head{
	padding-top: 50px;
}

.sorular-content .card-header h5 button {
    font-size: 11px;
}

.sorular-content div#accordion {
    margin: 0px 20px;
}

.sorular-head{
	min-height: 120px;
}

.firma-head{
	min-height: 120px;
}

.hide-arrow{
	display: none;
}

}

@media (max-width: 576px) {

.slider h1 {
    font-size: 2rem;
    margin-top: 15px;
}

.slider h2 {
    font-size: 2.2rem;
}

.slider h2 {
    font-size: 2.2rem;
}

.gescard .blog-post {
    padding-top: 45px;
}

blockquote {
    font-size: 1rem;
}

.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
}

.sectoral .col-yd {
	margin-left: 140px;
}

.sectoral .col-md-2 {
	margin-left: 170px;
}

.event-tab-two .col-md-4 {
	margin-left: 80px;
}

.slider-text {
	margin-top: -150px;
	margin-left: 65px;
	font-size: 8px;
}

.slider-head {
		font-size: 16px;
}

.slider-content  {
		width: 300px;
}

.news-hover {
    width: 93.5%;
}
a.form-control.btn.btn-light.view-btn {
      margin: 300px 0px 0px 70px !important;
}

.long-text {
    margin-left: -205px;
}
.set-makine-posstion {
	    margin-left: -145px !important;
}

.caption-margin{
	padding: 50px;
}

.page-static-text {
    margin-left: 100px;
		font-size: 9px;
}

.page-static-text-head {
    font-size: 16px;
}

.mevzuat-head{
	min-height: 100px;
}

.mevzuat-content .mevzuat-duyuru p {
width: 320px;
font-size: 13px;
}

.destekler-head{
	min-height: 100px;
}

.destekler-align{
	margin-left: 130px;
}


.sosyal-imkan-head {
	min-height: 100px;
}

.sosyal-imkan-text{
	margin-left: 28%;
}

.ekosistem-head{
	min-height: 100px;
}
.ekip-text{
	margin-left: 0px;
}

.ekip-head{
	min-height: 100px;
}

.haberler-head{
	min-height: 100px;
}

.haberler-detay-head{
	min-height: 200px;
}

.duyurular-head{
	min-height: 100px;
}

.hakkimizda-head{
	min-height: 200px;
}

.sorular-content .card-header h5 button {
    font-size: 9px;
}

.sorular-head{
	min-height: 100px;
}

.firma-logo {
	position: relative;

	margin: 0px auto 10px auto;
}

.firma-detay-content .firma-detay-text hr {
    width: 100%;
}

.firma-head{
	min-height: 100px;
}

}

@media (max-width: 480px) {
.col-6 {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    flex: 100%;
}

footer .footer-bar .widget-about ul {
    list-style: none;
    padding-left: 0;
}

footer .footer-bar .widget-duyuru .h4,
footer .footer-bar .widget-duyuru h4 {
    font-size: 1.3rem;
}

.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
}



.sectoral .col-yd {
	margin-left:100px;
}


.sectoral .col-md-2 {
	margin-left: 150px;
}

.event-tab-two .col-md-4 {
	margin-left: 25px;
}

.slider-text {
	margin-top: -115px;
	margin-left: 55px;
	font-size: 6px;
}

.slider-head {
		font-size: 12px;
}

.slider-content  {
		width: 200px;
}
.carousel-indicators {
	display: none !important;
}

.long-text {

	margin-left: -115px;
}

.news-hover {
    width: 92.5%;
}

a.form-control.btn.btn-light.view-btn {
      margin: 200px 0px 0px 40px !important;
}

.page-static-text {
    margin-left: 100px;
		font-size: 5px;
}

.page-static-text-head {
    font-size: 13px;
}

.mevzuat-head{
	min-height: 90px;
}

.page-static-text-content {
    width: 200px;
}

.destekler-head{
	min-height: 90px;
}

.destekler-align{
	margin-left: 100px;
}


.sosyal-imkan-head {
	min-height: 90px;
}

.sosyal-imkan-text{
	margin-left: 20%;
}

.ekosistem-head{
	min-height: 90px;
}

.eko-hand {

    width: 300px
}

.ekip-head{
	min-height: 90px;
}
.haberler-head{
	min-height: 90px;
}

.haberler-detay-head{
	min-height: 150px;
}

.duyurular-head{
	min-height: 90px;
}

.hakkimizda-head{
	min-height: 150px;
}

.hakkimizda-head{
	padding-top: 50px;
}

.sorular-content .card-header h5 button {
    font-size: 7px;
}

.sorular-head{
	min-height: 90px;
}

.firma-head{
	min-height: 90px;
}

}

@media (max-width: 420px) {

.sectoral .col-yd {
	margin-left:90px;
}

.sectoral .col-md-2 {
	margin-left: 115px;
}

ul.topbar-left li {
    display: -webkit-box;
}

li.nav-item.langue.online-login {
    margin-top: 10px;
    margin-left: 5px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    margin-top: 10px;
		margin-bottom: 10px;
}

.page-static-text {
    margin-left: 70px;
		font-size: 5px;
}

.page-static-text-head {
    font-size: 11px;
}

.mevzuat-head{
	min-height: 80px;
}

.mevzuat-content .mevzuat-duyuru p {
width: 230px;
font-size: 10px;
}

.destekler-head{
	min-height: 80px;
}

.destekler-align{
	margin-left: 80px;
}

.sosyal-imkan-head {
	min-height: 80px;
}

.ekosistem-head{
	min-height: 80px;
}

.ekip-head{
	min-height: 80px;
}

.haberler-head{
	min-height: 80px;
}
.haberler-detay-head{
	min-height: 120px;
}

.duyurular-head{
	min-height: 80px;
}

.sorular-content .card-header h5 button {
    font-size: 6px;
}

.sorular-head{
	min-height: 80px;
}

.firma-head{
	min-height: 80px;
}

}


@media (max-width: 370px) {

	.sectoral .col-yd {
		margin-left:60px;
	}
.sectoral .col-md-2 {
	margin-left: 90px;
}


.set-makine-posstion {
	    margin-left: -95px !important;
}

.destekler-align{
	margin-left: 40px;
}

.sorular-content .card-header h5 button {
    font-size: 5px;
}


}
