<!Doctype html>
<html th:lang="${teamForm.staticForm?.pageLang?.text}">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8"/>		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>		<meta name="title" content=""/>		<meta name="description" content=""/>		<meta name="keywords" content=""/>		<meta name="author" content="Moor Software www.moorsoftware.com"/>		<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
		<!--meta http-equiv="refresh" content="0;URL=http://canakkaleteknopark.com.tr/" -->
		<title>Teknopark</title>

		<!-- Required css styles -->
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"/>		<link href="css/bootstrap.min.css" rel="stylesheet"/>		<link href="css/fontawesome-all.min.css" rel="stylesheet"/>		<link href="css/animate.css" rel="stylesheet"/>		<link href="css/flag-icon.min.css" rel="stylesheet"/>		<link href="css/inputmask.min.css" rel="stylesheet"/>		<link href="css/slick.css" rel="stylesheet"/>		<link href="css/circle.css" rel="stylesheet"/>		<link href="css/main.css" rel="stylesheet"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="js/html5shiv.min.js"></script>
		  <script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body th:with="getForm=${teamForm}" th:object="${getForm}">
	<div class="wrapper">
		<header th:replace="header :: header"> </header>


		<section class="ekip-head">
			<div class="page-static-text">
				<div class="page-static-text-head" th:utext="${getForm?.teamHeader?.text}">

				</div>
				<div class="page-static-text-content" th:utext="${getForm?.teamDescription?.text}">
				</div>
			</div>
		</section>

		<section class="ekip-content">
			<h1 style="text-align:center; color:#266db3; font-weight:300;" th:utext="${getForm?.teamItemHeader?.text}"></h1>
			<!--
			<div class="left-bg">
				<img src="img/content-left-bg.png" />
			</div>
			-->
			<div class="container">
				<div class="row  justify-content-center">
					<div class="col-sm-10 ekip-text">
						<div class="row justify-content-center">
							<div class="col-lg-3  col-md-4 col-sm-6" align="center" th:each="item , stat : ${getForm.teams}">
								<a th:href="${item.name?.textLink}" target="_blank">
									<div class="card" style="width: 12rem;">
										<div class="card-images">	</div>
									  <img class="card-img-top" th:src="${item.photo?.photo}" alt="card image cap"/>
									  <div class="card-body" >
									    <p class="card-text"><strong th:utext="${item.name?.text}"></strong><br/><th:block th:utext="${item?.title?.text}"></th:block><br/></p>
											<hr/>
											<span >in</span>
									  </div>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--
			<div class="right-bg">
				<img src="img/content-right-bg.png" />
			</div>
		-->
		</section>



		<footer th:replace="footer :: footer"> </footer>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS and Other -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/sweetalert.min.js"></script>
	<script src="js/slick.min.js"></script>
  <script src="js/jquery.inputmask.bundle.min.js"></script>
  <script src="js/vindicate.js"></script>

	<script src="js/main.js"></script>
	</body>
</html>
