<!Doctype html>
<html lang="tr">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="title" content=""/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content="Moor Software www.moorsoftware.com"/>
	<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
	<!--meta http-equiv="refresh" content="0;URL=http://canakkaleteknopark.com.tr/" -->
	<title>Teknopark</title>

	<!-- Required css styles -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"/>

	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/fontawesome-all.min.css" rel="stylesheet"/>
	<link href="css/animate.css" rel="stylesheet"/>
	<link href="css/flag-icon.min.css" rel="stylesheet"/>
	<link href="css/inputmask.min.css" rel="stylesheet"/>
	<link href="css/slick.css" rel="stylesheet"/>
	<link href="css/circle.css" rel="stylesheet"/>
	<link href="css/main.css" rel="stylesheet"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body th:with="getForm=${indexForm}" th:object="${getForm}">
<div class="wrapper">
	<header th:replace="header :: header"> </header>

	<section class="slider">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item " th:classappend="${stat.index == 0} ? active : '' " th:each="item , stat : ${getForm.sliders}">
					<img class="d-block w-100" th:src="${item.photo?.photo}"  />
					<div class="slider-text">
						<div class="slider-head" th:utext="${item.header?.text}">

						</div>
						<div class="slider-content" th:utext="${item.text?.text}">
						</div>
					</div>
				</div>

			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>

	<section class="news">
		<br/>
		<h1 style="text-align:center; color:#266db3; font-weight:300;" th:utext="${getForm.newsText?.text}"></h1>
		<div class="row  justify-content-center">

			<div class="col-md-10">
				<div class="slider-wrap">
					<div class="col-sm-12 img-set-hover" th:each="item , stat : ${getForm.news}">
						<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn" th:utext="${getForm.newsView?.text}"></a> </div>
						<div class="caption-img">
							<img class="d-block w-100" th:src="${item.photo?.photo}" alt="First slide"/>
						</div>
						<div class="slider-caption">
							<p class="caption-title" th:utext="${item.date?.text}"></p>
							<p class="caption-text" th:utext="${item.text?.text}"></p>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>

	<section class="sectoral">
		<div class="container">
			<div class="row justify-content-center">
				<h2 style="text-align:center; color:#266db3; font-weight:300;" th:utext="${getForm.sectoralDistrubitionText?.text}"></h2>
				<div class="col-md-12">
					<br/>
					<div class="row justify-content-center" >

						<div class="col-md-2"  th:each="item , stat : ${getForm.sectoralDistributions}">
							<div class="c100 " th:classAppend="p + ${item.rate?.text}">
								<span><th:block th:utext="${item.rate?.text} + '%'" ></th:block></span>
								<div class="slice">
									<div class="bar" th:style="${item.color?.text}"></div>
									<div class="fill" th:style="${item.color?.text}"></div>
								</div>
							</div>

							<p class="circle-text" style="text-align:center; "  th:styleappend="${item.textColor?.text}" th:utext="${item.text?.text}" ></p>
						</div>

					</div>
					<br/><br/><br/>
				</div>


				<div class="col-md-12">
					<h2 style="text-align:center; color:#266db3; font-weight:300;" th:utext="${getForm.statisticsHeader?.text}"></h2>
					<hr style="border:1px solid black;"/>
					<div class="row justify-content-center">
						<div class="col-yd" th:each="item , stat : ${getForm.statistics}">
							<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
								<div class="flipper">
									<div class="front" style="color:#ffffff;" th:styleappend="'background-color:' + ${item.color?.text}">
										<p style=";text-align:center;font-size: 25px;margin: 20px auto auto auto;" th:utext="${item.text?.text}"></p>
									</div>
									<div class="back" style="color:#ffffff;" th:styleappend="'background-color:' + ${item.color?.text}">
										<p style=";text-align:center;font-size: 25px;margin: 20px auto auto auto;" th:utext="${item.count?.text}"></p>
										<!-- back content -->
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="events">
		<div class="container event-tab">
			<div class="row justify-content-center">
				<div class="col-md-10 event-tab-one">
					<h1 th:utext="${getForm.activityHeader?.text}"></h1>
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-md-5" style="margin-top:10%;">
										<img src="img/Davetiye.jpg" width="100%"  />
									</div>
									<div class="col-md-7">
										<div class="row caption-margin">
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-four.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >11.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div><br/>
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-three.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >10.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
										</div>
										<div class="row caption-margin">
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-two.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >15.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-four.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >22.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row">
									<div class="col-md-5" style="margin-top:10%;">
										<img src="img/Davetiye.jpg" width="100%"  />
									</div>
									<div class="col-md-7">
										<div class="row caption-margin">
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-one.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >13.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div><br/>
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-two.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >10.04.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
										</div>
										<div class="row caption-margin">
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-three.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >15.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
											<div class="col-md-6 img-set-hover">
												<div class="news-hover"><a  href="#" class="form-control btn btn-light view-btn">İNCELE</a> </div>
												<div class="caption-img">
													<img class="d-block w-100" src="img/haberler-bg-four.png" alt="First slide"/>
												</div>
												<div class="slider-caption">
													<p class="caption-title" >22.07.2018</p>
													<p class="caption-text">İTÜ ARI TEKNOKENT VE ÇANAKKALE TEKNOPARK ARASINDAKİ BÜYÜK İŞBİRLİĞİ</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="carousel-control-prev prev-icon" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="left-icon" aria-hidden="true"><i class="fas fa-caret-left"></i></span>
							<span class="sr-only"></span>
						</a>
						<a class="carousel-control-next next-icon" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="rigt-icon"  aria-hidden="true"><i class="fas fa-caret-right"></i></span>
							<span class="sr-only"></span>
						</a>
					</div>
				</div>

				<div class="col-md-8 event-tab-two">
					<h1 th:utext="${getForm.membersHeader?.text}"></h1>
					<hr/>
					<div class="row">
						<div class="col-md-4" th:each="item , stat : ${getForm.accounts}">
							<img th:src="${item.photo?.photo}" width="350px" />
						</div>

					</div>

				</div>

			</div>
		</div>
	</section>
	<div class="row justify-content-center event-tab">
		<div class="col-md-8 event-tab-three">
			<h1 th:utext="${getForm.indexTransportation?.text}"></h1>
			<hr/>
		</div>
	</div>
	<div class="col-md-12 event-tab-four">

	</div>


	<footer th:replace="footer :: footer"> </footer>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS and Other -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.inputmask.bundle.min.js"></script>
<script src="js/vindicate.js"></script>

<script src="js/main.js"></script>

</body>
</html>
